extends bootstrap
block header-content
    div.page-header
        ul(class='nav nav-pills pull-right')
            each link in navbar.links
                li(class=link.active?'active':'')
                    a(href='#{link.href}',target=link.newWindow?'_blank':'_self') #{link.text}
        h3.text-muted #{navbar.title}


