extends bootstrapNav
include bootstrapMixins
block body-content
    div.panel.panel-primary
        div.panel-heading(data-toggle='collapse',data-target='#new-expense-body'): a(href='#new-expense-body')
            | Record a new expense
        div.panel-collapse.collapse.in#new-expense-body: div.panel-body
            p Record a new expense explanation
            div.panel-body
                form.form-inline(action='/expenses/insert_expense',method='post',role='form')
                    div.form-group
                        label(for='insert_expense_date') Date Paid
                        div.col-sm-4.input-group.input-group-sm.date#insert_expense_date_group
                            input.form-control#insert_expense_date(name='date',type='text',placeholder='yyyy-mm-dd')
                            span.input-group-addon: i.glyphicon.glyphicon-calendar
                    div.form-group
                        label(for='insert_expense_event') Event Name
                        div.col-sm-4.input-group.input-group-sm
                            select.form-control#insert_expense_event(name='event',value=event)
                                +dataSelect(allEventNames)
                    div.form-group
                        label(for='insert_expense_sub_event') Sub Event
                        div.col-sm-4.input-group.input-group-sm
                            input.form-control#insert_expense_sub_event(name='sub-event',type='text')
                    div.form-group
                        label(for='insert_expense_member_group') Member Group
                        div.col-sm-4.input-group.input-group-sm
                            select.form-control#insert_expense_member_group(name='member-group')
                                +dataSelect(allGroupNames)
                            span.input-group-addon
                                a.btn-sm#editMemberGroupBtn(role='button',href='#',data-toggle='modal',data-target='#editGroupModal')
                                    span.glyphicon.glyphicon-eye-open
                    div.form-group
                        label(for='insert_expense_amount') Amount
                        div.col-sm-4.input-group.input-group-sm
                            span.input-group-addon $
                            input.form-control#insert_expense_amount(name='amount',type='text',placeholder='0.00')
                    div.form-group
                        label(for='insert_expense_description') Description
                        div.col-sm-4.input-group.input-group-sm
                            input.form-control#insert_expense_description(name='description',type='text',placeholder='ex. 4 bottles of sunblock',style='width:100%')
                    input#insert_expense_id(name='id',type='hidden',value=user.id)
                    input#insert_expenses_timestamp(name='timestamp',type='hidden',value=Date.now())
                    p(style='padding-top:7px;margin-left:-15px;')
                        button.btn.btn-primary.btn-sm(type='submit') Add Expense
    div.panel.panel-primary
        div.panel-heading(data-toggle='collapse',data-target='#expenses-body'): a(href='#expenses-body')
            |Expenses
        div.panel-collapse.collapse.in#expenses-body: div.panel-body
            p Expenses explanation
            +dataTable(expensesHeader,expensesData,true)
    div.modal.fade#editGroupModal(tabindex='-1',role='dialog',aria-labelledby='editGroupModalLabel' aria-hidden='true')
        div.modal-dialog
            div.modal-content
                div.modal-header.fm-modal-header
                    button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                    h1.modal-title.fm-modal-title#editGroupModalLabel
                div.modal-body
                    each group in allGroups
                        div.viewGroupMemberPane(id="viewGroupMembers-#{group.name}")
                            ul
                                each member in group.members
                                    ul.small "#{member}"
block additional-scripts-2
    script(src='/eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js')
    script.
        $('#insert_expense_date_group').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayHighlight: true
        });
    script.
        function updateGroupMembers(groupName) {
            $('#editGroupModalLabel').html(groupName);
            $('.viewGroupMemberPane').hide();
            $('#viewGroupMembers-'+groupName).show();
            console.log('updated '+groupName);
        }
        var selectedMemberGroup=false;
        var changeHandler=function() {
            updateGroupMembers(this.value);
            selectedMemberGroup=this.value;
            console.log('changeHandler');
        };
        var clickHandler=function() {
            updateGroupMembers(selectedMemberGroup || $('#insert_expense_member_group option')[0].value);
            console.log('clickHandler');
        };
        $(document).ready(function(){
            $("#editMemberGroupBtn").click(clickHandler);
            $('#insert_expense_member_group').change(changeHandler);
            //$('#editGroupModal').onfocus(focusHandler);
        });