extends bootstrapNav
block body-content
    if(messages)
        each message in messages
            div(class='alert alert-info') #{message}
    div.jumbotron
        div.row
            div.col-md-12
                div.row
                    div.col-md-8
                        h2 Welcome #{user.name}
                        p.lead
                            |You have successfully logged into FrogMoney.
                            |Go to the expenses tab to see your existing expenses, or to add a new one.
                            |Go to the payments tab to see your existing payments, or to log a new one.
                    div.col-md-4
                        div.thumbnail
                            img(src=user.picture,width=50,height=50)
                            div.caption.text-center
                                p #{user.email}

    div.row
        div.col-md-12
            div.row
                div.col-md-6
                    ul.list-group
                        li.list-group-item Your account summary is as follows
                        li.list-group-item.list-group-item-success #{numPayments} Payments totaling #{totalPayments}
                        li.list-group-item.list-group-item-info #{numExpenses} Expenses totaling #{totalExpenses}
                        li.list-group-item.list-group-item-warning #{numTransfers} Transfers totaling #{totalTransfers}
                        li.list-group-item.list-group-item-danger #{numDuesPaid} of #{numDues} Dues paid
                div.col-md-6
                    div.panel.panel-primary
                        div.panel-heading: h3.panel-title Current Event: #{event.name}
                        div.panel-body
                            p.lead #{event.description}
                            p: a.btn.btn-primary(role="button",href="/expenses?event=event.name") Add Expense