extends bootstrapNav
block body-content
    if(messages)
        each message in messages
            div(class='alert alert-info') #{message}
    div.jumbotron
        div.row
            div.col-md-12
                div.row
                    div.col-md-6
                        h2 Welcome #{user.name}
                        p.lead You have successfully logged into FrogMoney
                    div.col-md-6
                        div.thumbnail
                            img(src=user.picture,width=50,height=50)
                            div.caption.text-center: h3 #{user.email}

    div.row
        div.col-md-12
            div.row
                div.col-md-6
                    ul.list-group
                        li.list-group-item Your account summary is as follows
                        li.list-group-item.list-group-item-success #{numPayments} Payments totaling #{totalPayments}
                        li.list-group-item.list-group-item-info #{numExpenses} Expenses totaling #{totalExpenses}
                        li.list-group-item.list-group-item-warning #{numTransfers} Transfers totaling #{totalTransfers}
                        li.list-group-item.list-group-item-danger #{numDuesPaid} of #{numDues} Dues paid
                div.col-md-6
                    div.panel.panel-primary
                        div.panel-heading: h3.panel-title Current Event: #{event.name}
                        | #{event.description}
                        p: a.btn.btn-success(role="button",href="/expenses?event=event.name") Add Expense