extends bootstrapNav
block body-content
    h1= "welcome "+name+",to " + title
    p= "the time is: " + time
    if tokens
        p= "token detected"+tokens
    p please log into to #{title}
    a.button(href=auth_url) log in with google

